<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1Ou0slPJVApWEpUnDmgUaD1T2NshJ6lw</string>
	<key>GCM_SENDER_ID</key>
	<string>95819874066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ausweg.iiot.auspowerFlutter</string>
	<key>PROJECT_ID</key>
	<string>auspower-8275c</string>
	<key>STORAGE_BUCKET</key>
	<string>auspower-8275c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95819874066:ios:84b5ded2a687201c9bbdcb</string>
</dict>
</plist>